@charset "UTF-8";

/*-- Variaveis de cores CSS*/
:root{
    --color0: #F3F4F0;
    --color1: #CED8D0;
    --color2: #96A5A0;
    --color3: #4F5C55;
    --color4: #517709;
}

/*Configurações da página list.php*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CED8D0;  
}

section{
    text-align: center;   
    background-color: var(--color1);    
    height: 580px;
    padding-top: 20px;
    padding-left: 30px; 
}

.a-btn-cad{
     font-weight: bold;                      
}

.btn-cadastrar{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    cursor: pointer;
}

.selc-pesq{
    background-color: #F3F4F0;
    width: 250px;
    border-radius: 5px;
    padding: 4px;
}

.btn-pesq{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    cursor: pointer;
}

.a-editar{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 10px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    margin-right: 1px;
    cursor: pointer;
}

.btn-excluir{
    background-color: red;
    color: var(--color0);
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
    padding: 2px 4px 2px 4px;
    border-radius: 6px;
    cursor: pointer;
}

/*Configuração da navegação da página list.php*/
.nav-pag {
    color: black;
    font-weight: bold;           
} 
.nav-pag a:hover {
    color: green; 
    font-weight: bold;            
}

/*Configurações da tabela da página list.php*/

table{
    margin: auto;
}

.th-op{
    padding-right: 125px;
}

.th-site{
    padding-right: 150px;
}

.th-fuso{
    padding-right: 100px;
}

.th-tel{
    padding-right: 50px;
}

.th-cred{
    padding-right: 150px;
}

.th-email{
    padding-right: 150px;
}

.th-acoes{
    padding-right: 90px; 
}

/*Configurações da tela register.html*/

.p-estilo{
    text-align: center;    
}
    
.lb-reg-op{
    margin-right: 115px;
}

.lb-reg-site{
    margin-right: 125px;
}

.lb-reg-fuso{
    margin-right: 60px;
}

.lb-reg-tel{
    margin-right: 95px;
}

.lb-reg-site-cred{
    margin-right: 15px;
}

.lb-reg-email{
    margin-right: 105px;
}

.inpt-reg-op{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-reg-site{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.selc-reg-fuso{
    background-color: #F3F4F0;
    width: 323px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-reg-tel{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-reg-site-cred{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-reg-email{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.btn-reg-cad{
    background-color: #4F5C55;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 3px 30px 3px 30px;
    cursor: pointer;
}

.nav-reg-btn{
    display: flex;
    justify-content: center;
}

.btn-reg-cad{
    background-color: var(--color4);
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}

.btn-reg-canc{
    background-color: red;
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}

.a-btn-canc{
    text-decoration: none;
    color: inherit;
}

/*Configurações da tela edit.php*/

.p-estilo{
    text-align: center;    
}
    
.lb-edt-op{
    margin-right: 110px;
}

.lb-edt-site{
    margin-right: 120px;
}

.lb-edt-fuso{
    margin-right: 55px;
}

.lb-edt-tel{
    margin-right: 90px;
}

.lb-edt-cred{
    margin-right: 15px;
}

.lb-edt-email{
    margin-right: 100px;
}

.inpt-edt-op{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-edt-site{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-edt-fuso{
    background-color: #F3F4F0;
    width: 315px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-edt-tel{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-edt-cred{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-edt-email{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.nav-edt-btn{
    display: flex;
    justify-content: center;
}

.btn-edt{
    background-color: var(--color4);
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 30px 3px 30px;
    cursor: pointer;
}

.btn-edt-canc{
    background-color: red;
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}

.a-btn-canc{
    text-decoration: none;
    color: inherit;
}


