@charset "UTF-8";

/*-- Variaveis de cores CSS*/
:root{
    --color0: #F3F4F0;
    --color1: #CED8D0;
    --color2: #96A5A0;
    --color3: #4F5C55;
    --color4: #517709;
}

/*Configurações da página list.php*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CED8D0;
}

section{
    text-align: center;
    background-color: var(--color1);    
    height: 580px;
    padding-top: 20px;
    padding-left: 30px;
}

.btn-cadastrar{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    cursor: pointer;
}

.a-editar{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 10px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    margin-right: 1px;
    cursor: pointer;
}

.btn-excluir{
    background-color: red;
    color: var(--color0);
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
    padding: 2px 4px 2px 4px;
    border-radius: 6px;
    cursor: pointer;
}

/*Configurações da tabela da página list.php*/

table{
    margin: auto;
}

.th-serv{
    padding-right: 200px;          
}

.th-inic{
    padding-right: 80px;
}

.th-term{
    padding-right: 60px;
}

.th-acoes{
    padding-right: 75px;
}

/*Configurações da tela de register.php*/

.p-estilo{
    text-align: center;    
}
   
.lb-reg-serv{
    margin-right: 94px;
}

.lb-reg-inic{
    margin-right: 25px;
}

.lb-reg-term{
    margin-right: 5px;
}

.inpt-reg-serv{
    background-color: #F3F4F0;
    width: 300px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-reg-inic{
    background-color: #F3F4F0;
    width: 300px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-reg-term{
    background-color: #F3F4F0;
    width: 300px;
    border-radius: 5px;
    padding: 4px;
}

.nav-reg-btn{
    display: flex;
    justify-content: center;
}

.btn-reg-cad{
    background-color: var(--color4);
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}

.btn-reg-canc{
    background-color: red;
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}

.a-btn-canc{
    text-decoration: none;
    color: inherit;
}

/*Configurações da tela de edit.php*/

.p-estilo{
    text-align: center;    
}
   
.lb-edt-serv{
    margin-right: 94px;
}

.lb-edt-inic{
    margin-right: 25px;
}

.lb-edt-term{
    margin-right: 5px;
}

.inpt-edt-serv{
    background-color: #F3F4F0;
    width: 300px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-edt-inic{
    background-color: #F3F4F0;
    width: 300px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-edt-term{
    background-color: #F3F4F0;
    width: 300px;
    border-radius: 5px;
    padding: 4px;
}

.nav-edt-btn{
    display: flex;
    justify-content: center;
}

.btn-edt{
    background-color: var(--color4);
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 30px 3px 30px;
    cursor: pointer;
}

.btn-edt-canc{
    background-color: red;
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}

.a-btn-canc{
    text-decoration: none;
    color: inherit;
}