@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--color4);
    font-weight: bold;
    text-decoration: underline;
}

.a-cor {
    color: black;
    font-weight: bold;
}

li{
    list-style-type: none;
    padding-bottom: 5px;
}

nav{
    background-color: var(--color2);
    font-size: 20px;
    width: 250px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 15px;
}

section{
    background-color: var(--color1);
    width: 100%;
    height: 83.5vh;
    /*Centralizando*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;  
    align-items: center;        
}

.p-titulo{
    font-size: 45px;
    font-weight: bold;  
}