@charset "UTF-8";

/*-- Variaveis de cores CSS*/
:root{
    --color0: #F3F4F0;
    --color1: #CED8D0;
    --color2: #96A5A0;
    --color3: #4F5C55;
    --color4: #517709;
}

/*Configurações gerais da página*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CED8D0;  
}

section{
    text-align: center;   
    background-color: var(--color1); 
    width: 1550px;   
    height: 580px;
    padding-top: 20px;
    padding-left: 30px; 
}

label{
    font-weight: bold;
}

.a-tab-hor{
    font-weight: bold;
    text-decoration: underline;
    color:#517709;
}

.scroll-area {
   height: 580px;
   max-height: 580px; /* ou height: 400px; */
   overflow-y: auto; /* mostra rolagem só quando precisar */
   overflow-x: hidden; /* evita rolagem horizontal */
   padding: 1rem;
   border: 1px solid #ddd;
   border-radius: 8px;
}

.impt-buscar{
    background-color: #F3F4F0;
    width: 135px;
    border-radius: 5px;
    padding: 4px;
}

.btn-buscar{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-right: 30px;
    cursor: pointer;
}

.selc-term{
    background-color: #F3F4F0;
    width: 320px;
    border-radius: 5px;
    padding: 4px;
}

.selc-box{
    background-color: #F3F4F0;
    width: 180px;
    border-radius: 5px;
    padding: 4px;
}

.btn-selec{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    cursor: pointer;
}

.selc-serv{
    background-color: #F3F4F0;
    width: 250px;
    border-radius: 5px;
    padding: 4px;
}

/*Configurações da tabela da página queries.php*/

table{
    margin: auto;
}

.th-linh{
    width: 30px; 
    text-align: center;
    padding-left: 15px; 
    padding-right: 15px;        
}

.th-dest{
    padding-right: 300px;
}

.th-hor{
    width: 100px;
    text-align: center;
    padding-left: 15px; 
    padding-right: 15px;
}

.th-serv{
    width: 200px;
    text-align: center; 
    padding-left: 50px; 
    padding-right: 50px;  
}

.td-linh{
    text-align: center;
    font-weight: bold;
    background-color:#517709;
    color:#CED8D0;
}

.td-dest{
    font-weight: bold;
    color:#517709;
} 

.td-hor{
    text-align: center;
    font-weight: bold;
    color:#517709;
}

.td-serv{
    text-align: center;
    font-weight: bold;
    color:#517709;
}

/*Configurações para a página timetable.php*/

h2{
    color: #517709;
}

.selc-op{
    background-color: #F3F4F0;
    width: 250px;
    border-radius: 5px;
    padding: 4px;
    margin-right: 50px;
}

.selc-linh{
    background-color: #F3F4F0;
    width: 320px;
    border-radius: 5px;
    padding: 4px;
}

