@charset "UTF-8";

/*-- Variaveis de cores CSS*/
:root{
    --color0: #F3F4F0;
    --color1: #CED8D0;
    --color2: #96A5A0;
    --color3: #4F5C55;
    --color4: #517709;
}

/*Configurações da página list.php*/

html, body {
    height: auto;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #CED8D0;
}

section{
    text-align: center; 
    background-color: var(--color1);    
    min-height: 580px;
    padding-top: 20px;
    padding-left: 30px;
}

.btn-cadastrar{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    margin-bottom: 15px;   
}

.selc-pesq{
    background-color: #F3F4F0;
    width: 250px;
    border-radius: 5px;
    padding: 4px;
}

.btn-pesq{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-right: 20px;
    cursor: pointer;
}

.btn-buscar{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    cursor: pointer;
}

.nav-estilo{
    display: flex;
    justify-content: center;
}

.impt-buscar{
    background-color: #F3F4F0;
    width: 250px;
    border-radius: 5px;
    padding: 4px;
}

.selc-sit-linha{
    background-color: #F3F4F0;
    width: 150px;
    height: 27px;
    border-radius: 5px;
    padding: 2px;   
    margin-left: 15px;
}

.a-viagem{
    background-color: blue;
    color: var(--color0);
    font-size: 10px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    margin-right: 2px;
    cursor: pointer;
}

.a-editar{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 10px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    border-radius: 5px;
    margin-right: 2px;
    cursor: pointer;
}

.btn-excluir{
    background-color: red;
    color: var(--color0);
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
    padding: 2px 4px 2px 4px;
    border-radius: 6px;
    cursor: pointer;
}

/*Configurações da tabela da página list.php*/
table{
    margin: auto;
}
.th-op{
    padding-right: 60px;
}

.th-cod{
    padding-right: 10px;
}

.th-linha{
    padding-right: 350px;
}
.th-grupo{
    padding-right: 100px;
}

.th-status{
    padding-right: 5px;
}

.th-atual{
    text-align: center;
}

.th-acoes{
    padding-right: 136px;
}

.scroll-area {
   width: 2000px; 
   height: 580px;
   max-height: 580px; /* ou height: 400px; */
   overflow-y: auto; /* mostra rolagem só quando precisar */
   overflow-x: hidden; /* evita rolagem horizontal */
   padding: 1rem;
   border: 1px solid #ddd;
   border-radius: 8px;
}

/*Configuração da navegação da página list.php*/
.nav-pag {
    color: black;
    font-weight: bold;           
} 
.nav-pag a:hover {
    color: green; 
    font-weight: bold;            
}

/*Configurações da tela register.php*/
.p-estilo {
    text-align: center;
}    
.lb-reg-op{
    margin-right: 50px;    
}

.lb-reg-cod{
    margin-right: 75px;
}

.lb-reg-linha{
    margin-right: 85px;
}

.lb-reg-desc{
    margin-right: 50px; 
    vertical-align: top;   
}

.lb-reg-tipo{
    margin-right: 90px;   
}

.lb-reg-cor{
    margin-right: 30px;
}

.lb-reg-ordem{
    margin-right: 70px;   
}

.lb-reg-grupo{
    margin-right: 75px;   
}

.inpt-reg-cod{
    background-color: #F3F4F0;
    width: 370px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-reg-linha{
    background-color: #F3F4F0;
    width: 370px;
    border-radius: 5px;
    padding: 4px;
}

.txt-reg-desc{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F3F4F0;    
    width: 370px;
    height: 50px;
    border-radius: 6px;
    padding: 3px 5px 3px 5px;
}

.selc-reg-op{
    background-color: #F3F4F0;
    width: 380px;
    border-radius: 5px;
    padding: 4px;
}

.selc-reg-tipo{
    background-color: #F3F4F0;
    width: 380px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-reg-cor{
    background-color: #F3F4F0;
    width: 380px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-reg-ordem{
    background-color: #F3F4F0;
    width: 370px;   
    border-radius: 5px;
    padding: 4px;
}

.inpt-reg-grupo{
    background-color: #F3F4F0;
    width: 368px;
    border-radius: 5px;
    padding: 4px;
}

.nav-reg-btn{
    display: flex;
    justify-content: center;   
}

.btn-reg-cad{
    background-color: var(--color4);
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}

.btn-reg-canc{
    background-color: red;
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}

.a-btn-canc{
    text-decoration: none;   
    background-color: red;
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 5px 3px 5px;
    cursor: pointer;
}

.scroll-area-reg {
   width: 1500px; 
   height: 580px;
   max-height: 400px; /* ou height: 400px; */
   overflow-y: auto; /* mostra rolagem só quando precisar */
   overflow-x: hidden; /* evita rolagem horizontal */
   padding: 1rem;
   border: 1px solid #ddd;
   border-radius: 8px;
}

/*Configurações da tela edit.php*/
.p-estilo {
    text-align: center;
}    
.lb-edt-op{
    margin-right: 50px;    
}

.lb-edt-cod{
    margin-right: 75px;
}

.lb-edt-linha{
    margin-right: 85px;
}

.lb-edt-desc{
    margin-right: 50px;
    vertical-align: top;       
}

.lb-edt-tipo{
    margin-right: 90px;
}

.lb-edt-cor{
    margin-right: 30px;
}

.lb-edt-ordem{
    margin-right: 70px;   
}

.lb-edt-grupo{
    margin-right: 75px;   
}

.lb-edt-status{
    margin-right: 15px;
    margin-left: 10px;
}

.inpt-edt-cod{
    background-color: #F3F4F0;
    width: 370px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-edt-linha{
    background-color: #F3F4F0;
    width: 370px;
    border-radius: 5px;
    padding: 4px;
}

.txt-edt-desc{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F3F4F0;    
    width: 372px;
    height: 50px;
    border-radius: 6px;
    padding: 3px 5px 3px 5px;
}

.inpt-edt-tipo{
    background-color: #F3F4F0;
    width: 370px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-edt-cor{
    background-color: #F3F4F0;
    width: 370px;
    border-radius: 5px;
    padding: 4px;
}

.inpt-edt-ordem{
    background-color: #F3F4F0;
    width: 370px;   
    border-radius: 5px;
    padding: 4px;
}


.inpt-edt-grupo{
    background-color: #F3F4F0;
    width: 370px;   
    border-radius: 5px;
    padding: 4px;
}

.nav-edt-btn{
    display: flex;
    justify-content: center;
}

.btn-edt{
    background-color: var(--color4);
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 30px 3px 30px;
    cursor: pointer;
}

.btn-edt-canc{
    background-color: red;
    color: var(--color0);
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}

.a-btn-canc{
    text-decoration: none;
    color: inherit;
}

