@charset "UTF-8";

/*Configurações gerais da página*/
body{
    font-family: Arial, Helvetica, sans-serif;  
    background-color: #CED8D0;  
}

section{
    text-align: center;  
    background-color: var(--color1);    
    height: 580px;
    padding-top: 20px;
    padding-left: 30px; 
}

table{
    margin: auto;
}

.btn-cadastrar{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 11px;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.a-editar{
    background-color: var(--color4);
    color: var(--color0);
    font-size: 10px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    margin-right: 1px;
    border-radius: 5px;
}

.btn-excluir{
    background-color: red;
    color: var(--color0);
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
    padding: 2px 4px 2px 4px;
    border-radius: 6px;
}

/*Configurações do Iframe e do Dialog*/
iframe{
    width: 430px;
    height: 300px;       
}

dialog{
    background-color: #CED8D0;
    margin: 2% 75% 50% 37.5%;
    padding: 10px 10px 30px 10px;       
}

.btn-fechar{
    background-color: var(--color4);    
    color: var(--color0);
    font-weight: bold;
    padding: 5px 12px 5px 12px;
    border-radius: 6px;
}

dialog::backdrop{
    background-color: var(--color3);
    opacity: 0.6;
}

/*Configurações da tabela da página*/
.th1{
    padding-right: 100px;
}

.th2{
    padding-right: 30px;
}

.th3{
    padding-right: 200px;
}

.th4{
    padding-right: 75px;    
}

/*Configurações da tela de cadastro e editar*/
#section-iframe{
    text-align: center;
    height: 200px;
    padding: 10px;
}

.p1{
    text-align: left;
}
    
.lb1{
    margin-right: 10px;
}

.lb2{
    margin-right: 6px;
}

.lb3{
    margin-right: 7px;
}

.inpt1, .inpt2, .inpt3{
    background-color: #F3F4F0;
    width: 310px;
    border-radius: 5px;
    padding: 4px;
}

.inpt_btn_reg{
    background-color: #4F5C55;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 3px 30px 3px 30px;
}

.inpt_btn_edt{
    background-color: #4F5C55;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 3px 30px 3px 30px;
}

